html
    head
        meta(charset="utf-8")
        title "bakery nav"
        include stylesheets.pug
    body
        ul
            li
                a.active(href='#home') Home
            li
                a(href='#about') About
            li
                a(href='#inventory') Inventory
        
